body{
	background-color: #F1F1F2;
	margin-left: 0px;
	margin-right:0px;
}


header{
	background-image:url(img/bg.jpg);
	background-position: cover;
	position:relative;
	
}

header>p{
	text-align:center;
	color:white;
	background-color: rgba(0,0,0,0.10);
	font-weight: italic;
	opacity: 0.5;
}

.fonds{
	display: block;
	padding-left:5px;


}

.meilleur {
	position:absolute;
	width:5%;
	right: 0px;
    top: 0px;
   
}
header li{
	color:white;
	margin-top: 20px;
	list-style-type: none;
	
}

header li>a{
	text-decoration:none;
	color:white;
}

.premier h1{
color:#99AB2B;
text-align:center;
}

.premier p{
color:grey;
text-align:center;
font-size: 16px;
font-weight:italic;
}


.the legend{
color:#99AB2B;
text-align:center;
}

fieldset{
	color:#99AB2B;
}

.prez{
	background-color: white;
	margin-top: 20px;
	display:flex;
	margin-bottom: 20px;
	padding-bottom: 20px;
	
}

.prez div{
	text-align: center;
}

footer{
	background-color:#99AB2B;
}

footer div{
	background-color: rgba(0,0,0,0.10)

}

footer div a{
	padding-top: 5px;
	text-decoration: none;
	color:white;
	display:inline-block;
	width:19%;
	text-align: center;
}

.fa-truck{
display:block;
opacity: 0.4;

}

footer nav h1{
color:white;
}

footer nav li {
	color:white;

}

footer nav{
	width:30%;

}

.final{
	display:flex;
	justify-content:space-evenly;
	width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

footer article nav ul li{
	text-align:center;
}

footer ul{
	list-style:none;
}

main{
	max-width: 1100px;
	margin-left: auto;
	margin-right:auto;
}

.prez a {
	text-decoration:none;
	background-color: #B08E69;
	color:white;
	padding:10px; 

}

.prez h1{
	color:#99AB2B;
}

.final2{
	display: flex;
}

.wesh{
	display:flex;
	flex-wrap:wrap;
	text-align: center;
}

.wesh div{
	width:20%;
}

.pad{
	padding-top: 5px;
	padding-bottom: 5px;
}


.wesh:hover div{
	opacity:0.5;
}

.wesh div:hover{
	opacity:1;
}

